.realisations {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 25px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 100%;          
    }

    .realisation {
        margin: 0 25px; 

        p {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }   
    }
}

